.list {
    	background:#585A5E;
}

/* Slide */
.list div.slide {
	position: relative;
	float: left;
	margin-left: 25px;
    	margin-right: 25px;
	padding: 80px;
}
.list div.slide > section {
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 50px #3C3D40;
}
.list div.slide > section:hover {
	box-shadow:
		0 0 0 1px #305F8D,
		0 0 0 21px #3C7CBD,
		0 0 50px #3C3D40;
	border-radius: 9px;
}
/*
.list div.slide {
	-webkit-transform-origin:0 0;
	-webkit-transform:scale(0.5);
	-moz-transform-origin:0 0;
	-moz-transform:scale(0.5);
	-ms-transform-origin:0 0;
	-ms-transform:scale(0.5);
	-o-transform-origin:0 0;
	-o-transform:scale(0.5);
	transform-origin:0 0;
	transform:scale(0.5);
	width:512px;
	height:384px;
}
*/
/*
@media all and (max-width:1500px) {
	.list .slide > section {
		width:256px;
		height:192px;
	}
	.list .slide {
		-webkit-transform:scale(0.25);
		-moz-transform:scale(0.25);
		-ms-transform:scale(0.25);
		-o-transform:scale(0.25);
		transform:scale(0.25);
	}
}

@media all and (max-width:1000px) {
	.list .slide:after {
		left:30px;
	}
	.list .slide > section {
		width:204px;
		height: 153px;
	}
	.list .slide {
		-webkit-transform:scale(0.2);
		-moz-transform:scale(0.25);
		-ms-transform:scale(0.25);
		-o-transform:scale(0.25);
		transform:scale(0.25);
	}
}
*/
