.slide section.part1 {
	background: #333366;
	color: white;
}

.slide section.part1 h1 {
	color: white;
	text-align: center;
}

.slide section.part1 h2 {
	color: white;
	text-align: center;
}

.slide section.part1 h3 {
	color: white;
	font-size: 72px;
	text-align: center;
	padding: 0;
	margin: 0;
}

.slide section.part1 p {
	color: #dddddd;
	font-size: 32px;
	font-style: italic;
	text-align: center;
}



.slide section .detail {
	position: absolute;
	right: 50px;
	bottom: 10px;
	background: black;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 35px;
	font-family: 'DejaVu Sans Mono', 'Droid Sans Mono', monospace;
	font-size: 16px;
}
